<div id="content-wrap">

  <div id="fb-root"></div>

  <a name="top"></a>

  <div id="index" data-spy="scroll">
    <div id="cta-content">
      <div class="wrapped-content">
        <h1 class="proxima-bold"><i>EXTRACT</i> Your Contacts</h1>
        <h2 class="proxima-regular">Choose Your Network, <b>Get Contacts</b></h2>
      </div>
    </div>

    <div id="faq" class="wrapped-content">
      <div class="grid-row clearfix">
        <div class="grid-3">
          <a class="big-icon-plane" href="/contacts/gmail"></a>
          <h3>Google</h3>
          Get all you Google contacts in Two Clicks
        </div>
        <div class="grid-3">
          <a class="big-icon-wrench" href="/contacts/facebook"></a>
          <h3>Facebook</h3>
          Get all you Facebook contacts in Two Clicks
        </div>
        <div class="grid-3">
          <a class="big-icon-heart" href="/contacts/yahoo"></a>
          <h3>Yahoo</h3>
          Get all you Yahoo contacts in Two Clicks
        </div>
      </div>
    </div>

    <div class="hr"></div>

  </div>

 <%unless @contacts.blank? %>

  <h1>Extracted Contacts</h1>

  <table id = "contacts" class="display">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @contacts.each do |c|%>
        <tr>
          <td><%= c[:name]%></td>
          <td><%=  c[:email] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>
<%end%>
