<footer>
  <div class="footer-top">
    <div class="wrapped-content">
       <div class="r">
        <a class="social-link twitter" href="https://twitter.com/jetstrap"></a>
        <a class="social-link facebook" href="https://www.facebook.com/Jetstrap"></a>
        <a class="social-link google" href="https://plus.google.com/116021408276300205608/posts"></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="wrapped-content">
      <div class="l">&copy 2013 . <a href="/tos">Terms of Service</a> </div>
      <div class="r">Piloted by <b>Kishore</b></a> in Bangalore</div>
    </div>
  </div>
</footer>